useDynLib(jaspSyntax, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(analysisOptionsFromJaspFile)
export(analysisOptionsFromQml)
export(clearDatasetState)
export(clearNativeState)
export(clearQmlForms)
export(cleanUp)
export(columnMapping)
export(decodeAnalysisResults)
export(decodeColumnNames)
export(generateAnalysisWrapper)
export(generateModuleWrappers)
export(getVariableNames)
export(loadAnalysisDataset)
export(loadDataSet)
export(loadDataSetFromJaspFile)
export(loadQmlAndParseOptions)
export(nativeBridgeProvenance)
export(parseDescription)
export(parseModuleDescription)
export(parseQmlOptions)
export(readAnalysisOptionsFromJaspFile)
export(readAnalysisOptionsFromQml)
export(readDatasetHeader)
export(readDatasetFromJaspFile)
export(readDefaultAnalysisOptions)
export(readLoadedDataset)
export(readModuleDescription)
export(readRequestedDataset)
export(resolveAnalysisQml)
export(setParameter)
